<div *ngIf="field.requestFormElements['name']['enable']" class="form-group">
  <label>{{ field.nameLabel }}</label>
  <input type="text" class="form-control"
         name="name" ngModel required placeholder="{{ field.requestNamePlaceholder }}"
         attr.aria-label="{{ field.nameLabel }}">
</div>
<div *ngIf="field.requestFormElements['type']" class="form-group">
  <label>{{ field.requestFormElements.type.label }}</label>
  <select name="type"
          ngModel class="form-control"
  >
    <option value="null" disabled="true" [selected]="true">{{ field.requestFormElements['type']['label'] }}</option>
    <option *ngFor="let t of field.requestFormElements.type.fields"
            [ngValue]="t">{{t.name}}</option>
  </select>
</div>
<div class="form-group">
  <div class="form-group">
    <label>{{ field.ownerLabel }}</label>
    <input type="text" class="form-control" [(ngModel)]="field.owner"
           name="owner" ngModel="owner" required disabled
           attr.aria-label="{{ field.ownerLabel }}">
  </div>
</div>
<div class="form-group">
  <label>{{ field.dmEmailLabel }}</label>
  <input type="text" class="form-control" [(ngModel)]="field.dm.email"
         name="ownerEmail" ngModel="ownerEmail" required disabled
         attr.aria-label="{{ field.ownerLabel }}">
</div>
<div class="form-group">
  <div class="form-inline">
    <div class="form-group">
      <label>{{ field.ciEmailLabel }}</label>
      <input type="text" class="form-control" [(ngModel)]="field.ci.email"
             name="supervisor" ngModel required disabled
             size="35" attr.aria-label="{{ field.ciEmailLabel }}">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <div class="form-group">
      <label>{{ field.retentionLabel }}</label>
      <input type="text" class="form-control" [(ngModel)]="field.projectInfo.retention"
             name="retention" ngModel required disabled
             size="35" attr.aria-label="{{ field.retentionLabel }}">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <div class="form-group">
      <label>{{ field.projectStartLabel }}</label>
      <input type="text" class="form-control"
             [(ngModel)]="field.projectInfo.projectStart"
             name="projectStart" ngModel required disabled
             size="35" attr.aria-label="{{ field.projectStartLabel }}">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <div class="form-group">
      <label>{{ field.projectEndLabel }}</label>
      <input type="text" class="form-control" [(ngModel)]="field.projectInfo.projectEnd"
             name="projectEnd" ngModel required disabled
             size="35" attr.aria-label="{{ field.projectEndLabel }}">
    </div>
  </div>
</div>
<div class="form-group">
  <label>{{ field.requestFormElements.notes.label }}</label>
  <textarea maxlength="30" rows="10" cols="150"
            class="form-control" ngModel name="notes"></textarea>
</div>
<div class="alert alert-danger" *ngIf="field.formError">
  <p *ngIf="field.errorMessage">{{field.errorMessage}}</p>
  <ul>
    <li *ngFor="let v of field.validations">{{ v }}</li>
  </ul>
</div>
